:root {
  --font-title: "Anton", sans-serif;
  --font-heading: "belarius-sans", sans-serif;
  --font-body: "Vollkorn", sans-serif;

  --container-max-width: 750px;
  --header-title-font-size: 2.9rem;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

.listicle__container {
  padding-top: 20px;
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-body);
  *{
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    line-height: 1;
  }
}

.listicle__header {
  margin-bottom: 30px;
  h1 {
    font-family: var(--font-title);
    font-size: var(--header-title-font-size);
    font-weight: 400;
    letter-spacing: normal;
  }
  .author__content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
    .author__info {
      font-weight: 500;
      font-family: var(--font-heading);
      font-size: 14px;
      color: #999;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .author__publish-date {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .author__name {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
          color: #000;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
  @media screen and (max-width: 479px){
    margin: 0 4.1666666666%;
    width: 91.6666666666%;
    margin-bottom: 15px;

    h1 {
      font-size: 1.8rem;
      margin-right: 0;
    }

    .author__content{
      .author__info {
        font-size: 12px;
      }
    }
  }
}

.listicle__title {
  h2 {
    font-family: var(--font-heading);
    letter-spacing: -.02em;
    line-height: 1.4;
    font-size: 1.8rem;
    margin: 10px 0;
    font-weight: 700;
  }
  a {
    color: #000;
    text-decoration: none;
    h2 {
      color: #000;
    }
  }
  @media screen and (max-width: 479px){
    margin-left: auto;
    margin-right: auto;
    width: 91.6666666666%;
    margin-bottom: 15px;
  }
}

.advertiser-disclosure {
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #abb8c3;
  line-height: 1.55;
  text-align: center;
  color: #abb8c3;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.advertiser-disclosure-popup {
  position: absolute;
  z-index: 9999;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background: rgb(0 0 0 / .72);
  box-shadow: 0 1px 1px rgb(0 0 0 / .12);
  border-radius: 3px;
  border-color: #000;
  line-height: 1.4em;
  max-width: 300px;
  padding: 10px 15px;
  font-size: 14px;
}

.listicle__content {
  margin-bottom: 40px;
  * {
    line-height: 1.4;
  }
  .listicle__thumbnail {
    line-height: 0;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .listicle__text {
    @media screen and (max-width: 479px){
      margin-left: auto;
      margin-right: auto;
      width: 91.6666666666%;
    }
    color: #000;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.55;
    @media screen and (max-width: 479px){
      font-size: 1rem;
    }
    p {
      margin-bottom: 20px;
    }

    a {
      box-shadow: inset 0 -4px 0 #0090ff;
      color: blue;
      text-decoration: none;
    }
    a:hover {
      background: #0090ff;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    ul, ol {
      margin: 10px 0;

    li {
      margin-left: 50px;
      padding: 5px 0;
    }
    }
  }
  .listicle__cta {
    a {
      font-size: 1.1rem;
      box-shadow: inset 0 -4px 0 #0090ff;
      color: blue;
      text-decoration: none;
    }
    a:hover {
      background: #0090ff;
    }
    @media screen and (max-width: 479px){
      margin-left: auto;
      margin-right: auto;
      width: 91.6666666666%;
    }
  }
}

.second__disclaimer {
  .advertiser-disclosure {
    color: #000;
    border-bottom: 1px dotted #000;
    margin-left: unset;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.55;
  }
  p {
    color: #000;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.55;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 479px){
    margin-left: auto;
    margin-right: auto;
    width: 91.6666666666%;
  }
}

.disclaimer__separator {
  border: none;
  border-top: 2px solid;
  max-width: 100px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.listicle__disclaimer {
  p {
    color: #000;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.55;
    margin-bottom: 20px;
  }
  .author__box {
    display: flex;
    padding-bottom: 80px;
    img {
      line-height: 0;
      margin-right: 20px;
      width: 60px;
      border: 2px solid #ddd;
      border-radius: 50%;
    }
    a {
      font-family: var(--font-heading);
      color: #444;
      font-weight: 700;
      text-decoration: none;
      padding-top: 10px;
      font-size: 1.1rem;
      line-height: 1;
    }
  }
  
  @media screen and (max-width: 479px){
    margin-left: auto;
    margin-right: auto;
    width: 91.6666666666%;
  }
}

.listicle__footer {
  background: #111;
  width: 100%;
  .listicle__footer-top {
    padding: 40px 0;
    width: 100%;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 479px){
      width: 91.6666666666%;
    }
    .listicle__footer-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      .listicle__footer-logo {
        line-height: 0;
        margin-bottom: 30px;
        text-align: center;
      }

      .listicle__footer-nav {
        ul {
          text-align: center;
          width: 100%;

          li {
            display: inline-block;
            margin: 0 0 10px 20px;

            a {
              font-family: 'Rubik', sans-serif;
              color: #888;
              font-size: .9rem;
              font-weight: 400;
              line-height: 1;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
      }
    }
    
  }
  .listicle__footer-bottom {
    background: #000;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    p {
      font-family: var(--font-heading);
      color: #777;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}

.references__container {
  margin-bottom: 20px;
  font-size: 16px;
  vertical-align: super;
  font-style: italic;
  li {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  @media screen and (max-width: 479px){
    margin-left: auto;
    margin-right: auto;
    width: 91.6666666666%;
  }
}

.fly__top {
  background: rgb(0 0 0 / .3);
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 50px;
  height: 50px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    font-size: 40px;
    line-height: 100%;
  }
  &:hover {
    border-top: 1px solid #0be6af;
    border-left: 1px solid #0be6af;
    border-bottom: 1px solid #0be6af;
    background: #0be6af;
    color: #000;
  }
}

/* Data attribute rules for content visibility */
[data-content=""] {
  display: none;
}

[data-show]:not([data-show=""]) {
  display: none;
}