@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.listing-wrapper *,
.listing-wrapper *::after,
.listing-wrapper *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    'Lato',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
  line-height: 1.7em;
  color: #2d2d2d;
}

.listing-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 5px 0 15px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}

[data-is-banner='true'] .listing-container {
  padding: 0;
}

.listing-inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  row-gap: 3px;
  margin-top: 10px;
  border-radius: 4px;
  border-image: none;
  border-image-width: 0;
  width: 100%;
}
[data-is-banner='true'] .listing-inner {
  padding: 10px;
  margin: 0;
  justify-content: space-around;
  min-height: unset;
}

.listing-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 200px;
  margin: 0 auto;
}

.listing-logo img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
[data-is-banner='true'] .listing-logo {
  min-width: unset;
}
[data-is-banner='true'] .listing-logo img {
  width: 160px;
}

.listing-content {
  font-size: 1.05rem;
  font-weight: 500;
  color: #2d2d2d;
  justify-self: center;
  align-self: center;
  margin: 15px 0 3px 15px;
}

[data-is-banner='true'] .listing-content {
  margin: 15px 0;
}

.listing-headline {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #2d2d2d;
  letter-spacing: 0;
  line-height: 1.5em;
}
[data-is-banner='true'] .listing-headline {
  text-align: center;
}

.listing-bullet-points {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.listing-bullet-points li {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  margin: 5px 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5em;
}

.listing-bullet-points li svg {
  margin: 3px 5px auto 0;
  font-weight: 100;
  flex-shrink: 0;
}

.listing-cta {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: auto;
  width: 100%;
  min-width: 157px;
  min-height: unset;
  letter-spacing: 1.25px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

[data-is-banner='true'] .listing-cta {
  display: none;
}

.listing-cta .listing-cta-link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  background-color: rgb(24, 90, 196);
  color: #fff !important;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.02em;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.2s linear;
}
.listing-cta .listing-cta-link[data-text='']::before {
  content: 'View Rates' !important;
}

.listing-cta .listing-cta-link svg {
  position: absolute !important;
  top: calc(50% + 2px);
  right: 10px;
  font-size: 1rem;
  fill: white;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
}

.listing-cta .listing-cta-link:hover {
  background-color: #154b9b;
}

.listing-cta .listing-cta-link:hover svg {
  opacity: 1;
}

.listing-cta .listing-cta-phone {
  display: flex;
  position: relative;
  z-index: 0;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 45px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  color: inherit;
  font-size: 1.12rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s linear;
  justify-content: center;
  align-items: center;
}

.listing-cta .listing-cta-phone svg {
  fill: currentColor;
  transition: fill 0.2s linear;
}

.listing-cta .listing-cta-phone:hover {
  color: #154b9b;
}

.listing-cta .listing-cta-phone:hover svg {
  fill: #154b9b;
}

.listing-full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
[data-is-banner='true'] .listing-full-link {
  display: none;
}

[data-content=''] {
  display: none !important;
}

@media (min-width: 768px) and (min-height: 420px) {
  .listing-container {
    margin: 10px auto;
    padding: 0;
    max-width: 1060px;
  }

  .listing-inner {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    -ms-grid-columns: 200px 2fr 1fr;
    row-gap: 0;
    column-gap: 15px;
    padding: 10px;
    width: 1170px;
    margin: 28px 0 10px;
  }

  [data-is-banner='true'] .listing-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .listing-content {
    margin-left: 40px;
    word-break: break-word;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-self: flex-start;
    align-items: flex-start;
  }

  .listing-logo {
    margin: 0 0 0 25px;
  }

  [data-is-banner='true'] .listing-logo img {
    width: 180px;
  }

  .listing-cta .listing-cta-link {
    width: unset;
    min-width: 167px;
    max-width: 100%;
    margin-right: 25px;
  }

  .listing-cta .listing-cta-phone {
    min-height: unset;
    margin-top: 5px;
    height: fit-content;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1025px) and (min-height: 420px) {
  .listing-container {
    width: auto;
    border-color: #f1f1f1;
  }

  .listing-inner {
    padding: 10px 0;
    margin: 0 0 10px;
    max-width: 95vw;
  }
}
