*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.ads-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .ad-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}